<ion-view view-title="Map">
  <ion-content class="mypane">
	   <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options">
	   		
	   		<ui-gmap-marker idkey="marker.id" data-ng-repeat="marker in markers" coords="marker" options="marker.options" click="onClick()" events="marker.events" >
	   			<ui-gmap-window options="windowOptions" closeClick="closeClick()">
	   				<p>
	   					{{$index}}
	   					{{marker.message}}
	   				</p>
	   			</window>
	   		</ui-gmap-marker>
	   		
	   </ui-gmap-google-map>


  </ion-content>
</ion-view>
