<ion-side-menus enable-menu-with-back-views="true">
      <ion-side-menu-content>
          <ion-nav-bar class="bar-energized" >     
                  <ion-nav-buttons side="left">
                        <button class="button button-icon ion-navicon" menu-toggle="left"></button>
                  </ion-nav-buttons>     
          </ion-nav-bar>
          <ion-nav-view name="menuContent"></ion-nav-view>
      </ion-side-menu-content >
      <ion-side-menu side="left" class="sidePanel">
          <ion-header-bar class="bar-stable"></ion-header-bar>
          <ion-content class="sidebar">  
              <ion-list class="sideBarPanel">       
                  <ion-item nav-clear menu-close ng-repeat="menu in Menus" href="#/app/{{menu.Url}}">            
                  <img src="{{menu.imageUrl}}" width="18" />
                  <font class="positive"> {{menu.Name}} </font>
                  </ion-item>         
              </ion-list>
          </ion-content>
      </ion-side-menu>
</ion-side-menus>
