<ion-view view-title="Notifications">
  <ion-content ng-show="showNotifications" class="bar-energized">
  <div class="list" >
   
    <a class="item item-avatar" href="#" ng-repeat="promo in promos">
    	<img src="Promo.jpg">
    	<h2>{{AccountsWithIds[promo.Account__c].Name}}</h2>
    	<p>Back off, man. I'm a scientist.</p>
    </a> 
    <a class="item item-avatar" href="#" ng-repeat="pop in pops">
    	<img src="Pop.jpg">
    	<h2>{{AccountsWithIds[pop.Account__c].Name}}</h2>
    	<p>{{pop.POP_Type__c}}</p>
    </a> 
    <a class="item item-avatar" href="#" ng-repeat="complaint in complaints">
    	<img src="Complaint.jpg">
    	<h2>{{acc.Name}}</h2>
    	<p>Back off, man. I'm a scientist.</p>
    </a> 
</div>
<div class="card" ng-hide="showNotifications">
  <div class="item item-text-wrap">
    Notifications are empty...:)
  </div>
</div>
  </ion-content>
</ion-view>
