<ion-view view-title="{{currentVisit[0].Name}}" >
  <ion-content class="mypane">
 
	<div class="row">
		<div class="col" style="text-align:right;">
			Customer Id :
		</div>
		<div class="col ">
			{{visAcc[0].CustomerId__c}}
		</div>
	</div>
	<div class="row">
		<div class="col" style="text-align:right;">
			Customer Name :
		</div>
		<div class="col ">
			{{visAcc[0].Name}}
		</div>
	</div>
	<div class="row">
		<div class="col" style="text-align:right;">
			Opportunity Type :
		</div>
		<div class="col ">
			{{visOpp[0].RecordType.Name}}
		</div>
	</div>
	<div class="row">
		<div class="col" style="text-align:right;">
			Mobile :
		</div>
		<div class="col ">
			{{visAcc[0].PersonMobilePhone}}
		</div>
	</div>
	
	<div class="row">
		<div class="col"  style="text-align:right;">
			Quote Amount :
		</div>
		<div class="col ">
			{{currentVisit[0].Quoted_Amount__c}}
		</div>
	</div>
	
	

	<div class="row">
		<div class="col"  style="text-align:right;">
			Opportunity Status :
		</div>
		<div class="col ">
			{{visOpp[0].Status__c}}
		</div>
	</div>
	<div class="row">
		<div class="col"  style="text-align:right;">
			Property Address :
		</div>
		<div class="col ">
			{{visProp[0].Property_Address__c}}
		</div>
	</div>

	<div class="row">
		<div class="col"  style="text-align:right;">
			Visit Status :
		</div>
		<div class="col ">
			{{currentVisit[0].Status__c}}
		</div>
	</div>

	<div class="row">
		<div class="col" style="text-align:right;">
			Reason for Cancellation :
		</div>
		<div class="col ">
			{{urrentVisit[0].Reason_for_Cancellation__c}}
		</div>
	</div>
	
<div class="row">
	<div class="col">
	<button class="button button-full icon-right ion-chevron-right button-calm" ng-click="checkIn();">Check In</button>
	</div>
</div>
	   <!--div class="card" ng-repeat="section in AccountDetailPage.Sections" on-swipe-left="onSwipeLeft()">
	   <div class="item item-divider">
   {{section.Title}} 
  </div>
	  <div class="item item-text-wrap" ng-show="section.Type=='Detail View (Column 1)'">	
	    <div class="row" ng-repeat="field in section.Fields">
		  	<div class="col">{{field.FieldLabel}}</div>
		  	<div class="col">{{field.FieldValue}}</div>		  
		</div>
	  </div>
	  <div class="item item-text-wrap" data-ng-show="section.Type=='List View'">
	  		<div class="row">
	  			<div class="col" ng-repeat="field in section.Fields">
	  				{{field.FieldLabel}}
	  			</div>
	  		</div>
	  		<div class="row" ng-repeat="record in RelatedObjectRecords[section.ObjectAPI] | filter:{RecordTypeId:section.RecordType}">
	  		
	  			<div class="col" ng-repeat="field in section.Fields">
	  				{{record[field.FieldAPI]}}
	  			</div>
	  		</div>
	  </div>
	</div>

  		<p>
            <a class="button icon icon-right ion-chevron-right" href="#/tab/facts">Start {{AccountDetailPage.VisitType}}</a>
          </p-->
  </ion-content>
</ion-view>
