<ion-view view-title="{{StockPage.Name}}">
	<style type="text/css">
		input, textarea{
		border: 1px solid #000000 !important;
		}
	</style>
	<ion-content class="mypane">
		<div class="card" data-ng-show="stocksDiv">
			<div class="item item-divider">
				<div class="row" >
					<div class="col"> STOCK & SALES </div>
					<div class="col"> Retail Audit<input type="checkbox" ng-model="visitType" ng-change="checked()"> </div>
					<div class="col">
						<select multiple="true" ng-model="selectedProducts" ng-change="showStockDiv();"  id="products">
							
							<option ng-repeat="prod in products " value="{{prod.Id}}">{{prod.SKU_Name__c}}</option>
						</select>
					</div>
				</div>
			</div>
			<div class="item item-text-wrap" data-ng-show="showSales">
			<form>
				<table class="table" width="100%">
					<tr>
						<td><bold>Product</bold></td>
						<td><bold>Total Stock</bold></td>
						<td><bold>Stock Available</bold></td>
						<td><bold>Stock Ageing</bold></td>
						<td><bold>Chilled stock</bold></td>
						<td><bold>Sales</bold></td>
					</tr>
					<tr  ng-repeat="stock in StockAndSalesList">
						<td>{{stock.ProductName}}</td>
						<td><input type="number" ng-model="stock.Total_Stock__c" max="999999" size="4"/></td>
						<td>
							<select ng-model="stock.Stock_Available__c">
								<option value=""></option>
								<option value="true">Yes</option>
								<option value="false">No</option>
							</select>
						</td>
						<td>
							<select ng-model="stock.Stock_Ageing__c">
								<option value=""></option>
								<option value="0-30">0-30</option>
								<option value="30-60">30-60</option>
								<option value="60-90">60-90</option>
								<option value="90-120">90-120</option>
								<option value=">120">>120</option>
							</select>
						</td>
						<td>
							<select ng-model="stock.Chilled_Stock__c">
								<option value=""></option>
								<option value="true">Yes</option>
								<option value="false">No</option>
							</select>
						</td>
						<td><input type="number" ng-model="stock.Sales_Volume__c" max="999999" size="4"></td>
					</tr>
				</table>
					<div class="row">
						<div class="col"><button class="button button-small button-energized" ng-click="SaveStocks();">Save and Next</button></div>
					</div>
				</div>
			</form>
		</div>
		<div class="card" data-ng-hide="stocksDiv">
			<div class="item item-divider">
				<div class="row" >
					<div class="col">UBL SALES </div>
					<div class="col">
						<select multiple="true" ng-model="MonthforUbl"  id="ublMonths">
							<option value="">Month</option>
							<option value="JAN">JAN</option>
							<option value="FEB">FEB</option>
							<option value="MARCH">MARCH</option>
							<option value="APRIL">APRIL</option>
							<option value="MAY">MAY</option>
							<option value="JUNE">JUNE</option>
							<option value="JULY">JULY</option>
							<option value="AUG">AUGUST</option>
							<option value="SEP">SEP</option>
							<option value="OCT">OCT</option>
							<option value="NOV">NOV</option>
							<option value="DEC">DEC</option>
						</select>
					</div>
					<div class="col"></div>
					<div class="col">
						<select multiple="true" ng-model="UBLProducts" ng-change="showSalesUBlDiv();"  id="UBproducts">
							
							<option ng-repeat="prod in products " value="{{prod.Id}}">{{prod.SKU_Name__c}}</option>
						</select>
					</div>
				</div>
			</div>
			<div class="item item-text-wrap">
				<div data-ng-show="ublSalesDiv">
					<table>
						<tr>
							<td>Month</td>
							<td data-ng-repeat="product in UblSales[0].Month.Products">{{product.SKU_Name__c}}</td>
						</tr>
						<tr data-ng-repeat="sale in UblSales">
							<td>{{sale.Month.Name}}</td>
							<td data-ng-repeat="product in sale.Month.Products">
								<input type="number" data-ng-model="product.sales__c" maxlength="4" size="4"/>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="item item-divider">
				<div class="row" >
					<div class="col">COMPETITOR SALES </div>
					<div class="col">
						<select multiple="true" ng-model="MonthforCompetitor"   id="competitorMonths">
							<option value="">Month</option>
							<option value="JAN">JAN</option>
							<option value="FEB">FEB</option>
							<option value="MARCH">MARCH</option>
							<option value="APRIL">APRIL</option>
							<option value="MAY">MAY</option>
							<option value="JUNE">JUNE</option>
							<option value="JULY">JULY</option>
							<option value="AUG">AUGUST</option>
							<option value="SEP">SEP</option>
							<option value="OCT">OCT</option>
							<option value="NOV">NOV</option>
							<option value="DEC">DEC</option>
						</select>
					</div>
					<div class="col">&nbsp;</div>
					<div class="col">
						<select multiple="true" ng-model="CompetitorProducts" ng-change="showSalesCompetitorDiv();"  id="Cproducts">
							
							<option ng-repeat="prod in products " value="{{prod.Id}}">{{prod.SKU_Name__c}}</option>
						</select>
					</div>
				</div>
			</div>
			<div class="item item-text-wrap">
				<div data-ng-show="CompetitorSalesDiv">
					<table>
						<tr>
							<td>Month</td>
							<td data-ng-repeat="product in CompeSales[0].Month.Products">{{product.SKU_Name__c}}</td>
						</tr>
						<tr data-ng-repeat="sale in CompeSales">
							<td>{{sale.Month.Name}}</td>
							<td data-ng-repeat="product in sale.Month.Products">
							<input type="number" data-ng-model="product.sales__c" maxlength="4" size="4"></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col"><button class="button button-small button-energized" ng-click="SaveSales();">Save and Next</button></div>
			</div>
		</div>
	</ion-content>
</ion-view>