<ion-view view-title="Visits">
  <ion-tabs class="tabs-energized tabs-icon-only">

  <ion-tab title="Home" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline">
    <div class="list" style="top:80px;">
         <a class="item item-avatar" href="#/app/overview/{{visit.Id}}" ng-repeat="visit in TodaysPlan | orderBy : 'Name'">
            <img src="venkman.jpg">
            <h2>{{visit.Name}}</h2>
            <p>{{visit.RecordType.Name}}</p>
          </a>
    </div>
  </ion-tab>

  <ion-tab title="About" icon-on="ion-ios7-clock" icon-off="ion-ios7-clock-outline">
    <div class="list" style="top:80px;">
         <a class="item item-avatar" ng-repeat="visit in TomorrowsPlan | orderBy : 'Name'">
            <img src="venkman.jpg">
            <h2>{{visit.Name}}</h2>
            <p>{{visit.RecordType.Name}}</p>
          </a>
    </div>
  </ion-tab>

  <ion-tab title="Settings" icon-on="ion-ios7-gear" icon-off="ion-ios7-gear-outline">
    <div class="list" style="top:80px;">
         <a class="item item-avatar" ng-repeat="visit in WeeklyPlan | orderBy : 'Name'">
            <img src="venkman.jpg">
            <h2>{{visit.Name}}</h2>
            <p>{{visit.RecordType.Name}}</p>
          </a>
    </div>
  </ion-tab>

</ion-tabs>
  
  
<!--<div class="card" ng-show="TodaysPlan.length==0">
  <div class="item item-text-wrap">
    There is no daily route plan assigned to you, Please contact your manager or try later.
  </div>
</div>-->
  
</ion-view>
