@font-face {
    font-family:OpenSans-Bold;
    src: url(fonts/OpenSans-Bold.ttf);
}
 @font-face {
    font-family:OpenSans-BoldItalic;
    src: url(fonts/OpenSans-BoldItalic.ttf);
}
 @font-face {
    font-family:OpenSans-ExtraBold ;
    src: url(fonts/OpenSans-ExtraBold.ttf);
}
 @font-face {
    font-family:OpenSans-ExtraBoldItalic ;
    src: url(fonts/OpenSans-ExtraBoldItalic.ttf);
}
 @font-face {
    font-family:OpenSans-LightItalic ;
    src: url(fonts/OpenSans-LightItalic.ttf);
}
 @font-face {
    font-family:OpenSans-Regular ;
    src: url(fonts/OpenSans-Regular.ttf);
}
 @font-face {
    font-family:OpenSans-Semibold ;
    src: url(fonts/OpenSans-Semibold.ttf);
}
 @font-face {
    font-family: OpenSans-SemiboldItalic;
    src: url(fonts/OpenSans-SemiboldItalic.ttf);
}
 @font-face {
    font-family: OpenSans-Italic;
    src: url(fonts/OpenSans-Italic.ttf);
}
 @font-face {
    font-family: OpenSans-Light;
    src: url(fonts/OpenSans-Light.ttf);
}
body        {
    background: white;
    

}
.pane, .menu, .view, .list, .item, .bar-stable,.view *,.bar-header,.bar-header * {
    //background: black !important;
}
.mypane {
  background: white; !important;
  opacity: 0.9;
}
.sideBarPanel, .sidebar {
  //font-size:22px !important;
  //font-family:OpenSans-ExtraBold !important;
  //font-color:red !important;
  //opacity: 0.6 !important;
  //background-color: #505050 !important;
}